<form method="POST" action="/prehistoric_creatures/new">
    <label for="creature"Type>Type:</label>
    <input id="creatureType" type="text" name="type" />

    <label for="creatureImage">Image Source:</label>
    <input id="creatureImage" type="url" name="URL" />

    <input type="submit" />

</form>