<form method="POST" action="/prehistoric_creatures">
    <label for="creatureType">Type:</label>
    <input id="creatureType" type="text" name="type" />

    <label for="creatureImg">Image:</label>
    <input id="creatureImg" type="text" name="image" />

    <input type="submit" />

</form>