<!DOCTYPE html>
<html>
    <head>
        <title>Creature Crud</title>
        <link rel='stylesheet' href='/style.css'>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/">Dino Home</a>
                </li>
                <li>
                    <a href='/dinosaurs'>List Dinos</a>
                </li>
                <li>
                    <a href='/dinosaurs/new'>New Dino</a>
                </li>
            </ul>
        </nav>
        <h1>I LOVE DINOSAURS!!!</h1>
        <%- body %>
    </body>
</html>