<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Creature Crud 🦕💩</title>
  <link href="/styles.css" rel="stylesheet" />
</head>
<body>
  <!-- <iframe id="audio" width="40" height="40" src="https://www.youtube-nocookie.com/embed/D8zlUUrFK-M?autoplay=1&loop=1&controls=0&amp;start=87" title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media; gyroscope" allowfullscreen></iframe> -->
  <nav>
    <div id="dino">
    <ul>
      <li>
        <a href="/">Dino home</a>
      </li>
      <li>
        <a href='/dinosaurs'>Dinos</a>
      </li>
      <li>
        <a href='/dinosaurs/new'>New Dino</a>
      </li>
    </ul>
  </div>
  <div id="creature">
    <ul>
      <li>
        <a href="/">Prehistoric Creatures home</a>
      </li>
      <li>
        <a href='/prehistoric_creatures'>Creatures</a>
      </li>
      <li>
        <a href='/prehistoric_creatures/new'>New creature</a>
      </li>
    </ul>
  </div>
  </nav>
  <h1>I LOVE DINOSAURS! 🦕 AND PREHISTORIC CREATURES! 🦣</h1>
  
  <%- body %>
  

 

  



</body>
</html>