<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creature Crud</title>
    <link href="/styles.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">dino home</a>
            </li>

            <li>
                <a href='/dinosaurs'>Dinos</a>
            </li>

            <li>
                <a href='/dinosaurs/new'>New Dino</a>
            </li>
        </ul>
    </nav>    
    
    <h1> I LOVE DINOSAURS! 🦕🦖</h1>
    <%- body %>

    <nav>
        <ul>
            <li>
                <a href="/">creatures home</a>
            </li>

            <li>
                <a href='/creatures'>Creatures</a>
            </li>

            <li>
                <a href='/creatures/new'>New Creature</a>
            </li>
        </ul>
    </nav>    
    
    <h1> I LOVE PREHISTORIC CREATURES! 🦑🐋</h1>
    <%- body %>
</body>
</html>