<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creature CRUD 🦖💩</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">dino home</a>
            </li>
            <li>
                <a href="/dinosaurs">Dinos</a>
            </li>
            <li>
                <a href="/dinosaurs/new">New Dino</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/">creature home</a>
            </li>
            <li>
                <a href="/creatures">Prehistoric Creature</a>
            </li>
            <li>
                <a href="/creatures/new">New Creature</a>
            </li>
        </ul>
    </nav>
    <h1>I LOVE DINOS 🦕</h1>

    <%- body %>

</body>
</html>