<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/styles.css" rel="stylesheet"/>
</head>
<body>
    <div id="sidebar">
        <a href="/">Home</a>
        <a>_____________________</a>
        <a href="/dinosaurs/dinosaurs">Dinosaurium</a>
        <a href="/prehistoric_creatures/prehistoric_creatures">Prehistorium</a>
        <a>_____________________</a>
        <a href="/dinosaurs/dinosaurs/new">New Dinosaur</a>
        <a href="/prehistoric_creatures/prehistoric_creatures/new">New Prehistoric Creature</a>
    </div>
    <div id="main">
        <button id="open-button" onclick="controlNav()">
            <img id="button-icon" src="https://static.thenounproject.com/png/168650-200.png"/>
        </button>
        <%- body %>
    </div>
    <script>
        function controlNav() {
            let sidebar = document.getElementById("sidebar")
            let main = document.getElementById("main")
            let openButton = document.getElementById("open-button")
            if (sidebar.style.width == "250px" && main.style.marginLeft == "250px") {
                sidebar.style.width = 0
                main.style.marginLeft = 0
                openButton.style.transform = "scaleX(1)"
            } else {
                sidebar.style.width = "250px"
                main.style.marginLeft = "250px"
                openButton.style.transform = "scaleX(-1)"
            }
        }
    </script>
</body>
</html>