<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creature Crud</title>
    <link href="/styles.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Prehitoric Creature Home</a>
            </li>
            <li>
                <a href="/dinosaurs">Dinosaurs</a>
            </li>
            <li>
                <a href="/precrea">Creatures</a>
            </li>
            <li>
                <a href="/dinosaurs/new">New Dino</a>
            </li>
            <li>
                <a href="/precrea/new">New Creature</a>
            </li>
        </ul>
    </nav>
    <h1>Prehistoric Creature Database</h1>

    <%- body %>
    <footer>
        All Databases Provided by General Assembly
    </footer>
</body>
</html>