<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Creature Crud 🦕💩</title>
  <link href="/styles.css" rel="stylesheet" />
</head>
<body>
  <h1>Welcome to the Dino blog 🦕</h1>
  <nav>
    
        <a class="homeLinks" href="/">Home</a>
     

   
        <a class="homeLinks" href='/dinosaurs'>List of Dinos</a>
     

     
        <a class="homeLinks" href='/dinosaurs/new'>Add a new Dino</a>
    
  
    
        <a class="homeLinks" href='/prehistoric_creatures'>List of Prehistoric Creatures</a>
      

      
        <a class="homeLinks" href='/prehistoric_creatures/new'>Add a new Prehistoric Creature</a>
     
  </nav>
  <%- body %>
 
  
  
</body>
</html>