<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Creature Crud 🦕💩</title>
  <link href="/styles.css" rel="stylesheet" />
</head>
<body>
  <nav>
    <ul class ='dinoNav'>
      <li>
        <a href="/">HOME</a>
      </li>

      <li>
        <a href='/dinosaurs'>Dinos</a>
      </li>

      <li>
        <a href='/dinosaurs/new'>New Dino</a>
      </li>
      <li>
        <a href="/creatures">Prehistoric Creatures</a>
      </li>
      <li>
        <a href="/creatures/new">New Prehistoric Creature</a>
      </li>
    
    </ul>
  </nav>
  <h1>PREHISTORIC CREATURES AND DINOSAURS ARE WICKED 🦖</h1>

  <%- body %>
  
</body>
</html>