<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Creature Crud</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">dino home</a></li>
      <li><a href="/dinos">Dinos</a></li>
      <li><a href="/dinos/new">New Dino</a></li>
    </ul>
    <ul>
      <li><a href="/">Creature home</a></li>
      <li><a href="/prehistoric-creatures">Pre-historic Creatures</a></li>
      <li><a href="/prehistoric-creatures/new">New Creature</a></li>
    </ul>

  </nav>
  <h1>Jurrasic Data</h1>
  <%- body %>
  
</body>
</html>