<form method="POST" action="/dinosaurs">
  <label for="dinosaur type">Type: </label>
  <input type="text" id="" dinoType name="type" />
  <label for="dinosaur name">Name: </label>
  <input id="dinoName" type="text" name="name" />
  <input type="submit">Submit</form>
</form>
