* {
    justify-content: center;
    font-family: 'courier new', monospace;
}

body {
    background-image: url('https://www.thoughtco.com/thmb/lY664Q7KgaD1jGXwGcQa1L_iGiE=/1885x1414/smart/filters:no_upscale()/big-and-small-toy-dinosaurs-1138178966-347207c95a474f56acdaa7034e0eeb49.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    padding-bottom: 70px;
    font: #A9A9A9;
}
#navbar {
    display: inline;
    float: left;
    width: 20%;
    font: #A9A9A9;
    
}
#mainbar {
    list-style-type: none;
    margin: 10px;
    padding: 10px; 
    font-size: 22px;
    text-align: center;
    font: #A9A9A9;
  }
#hover {
    font: #A9A9A9;
}
ul#navbar li a:hover {
    background-color: rgb(10, 226, 241);
    color: white;
}
h1 {
    color: lightslategray;
    text-align: center;
    font-size: 40px;
}
ul, form {
    color: lightslategray;
    margin-left: 280px;
    font-size: 20px;
    font-weight: bold;
}
img {
    border-radius: 4px;
    padding: 5px;
    width: 354px;
    height: 224px;
    display: block;
}