<form method="POST" action="/prehistoric_creatures/<%= preId %>/?_method=PUT">
    <label>Type</label>
    <input type="text" value="<%= pre.type %>" name="type" />
  
    <label>Url</label>
    <input type="text" value="<%= pre.img_url %>" name="img_url" />
  
    <input type="submit" />
  </form>