<div class="new-form">
    <h1>Edit Creature</h1>
    <form method="POST" action="/prehistoric_creatures/prehistoric_creatures/<%= creatureID %>/?_method=PUT">
        <input class="text-field" type="text" value="<%= creature.type %>" name="type"/>
        <input class="text-field" type="text" value="<%= creature.img_url %>" name="img_url"/>
        <div id="submit-box">
            <input class="submit-button" type="submit" value="CHANGE!"/>
        </div>
    </form>
</div>
