<ul class="posts">
    <% creatureData.forEach((creature, index) => { %>
        <li class="dataLi">
            <%= creature.type %>
            <img src="<%= creature.img_url %>" alt="">
            <a class="bodyLinks" href="/prehistoric_creatures/edit/<%= index %>">Edit</a>
            <form method="POST" action="./<%= index %>/?_method=DELETE">
                <input type="submit" value="Delete" class="bodyLinks" />
            </form>
        </li>
    <% }) %>
</ul>