<h1>Prehistorium</h1>
<ul>
    <% creatureData.forEach((creature, index) => { %>
        <li>
            <%= creature.type %> 
            <div>
                <img src= <%= creature.img_url %>>
            </div>
                <div id="button-box">
                    <form action="/prehistoric_creatures/prehistoric_creatures/edit/<%= index %>">
                        <input class="submit-button" type="submit" value="EDIT"/>
                    </form>
                    <form method="POST" action="/prehistoric_creatures/prehistoric_creatures/<%= index %>/?_method=DELETE">
                            <input class="submit-button" type="submit" value="DELETE"/>
                    </form>
                </div>
        </li>
    <% }) %> 
</ul>
<a href="/prehistoric_creatures/prehistoric_creatures/new">
    <button class="new-button">NEW CREATURE</button>
</a>

