<ul>
    <% creatureData.forEach((creature,index) => { %>
        <li><%= creature.type %><img src='<%= creature.img_url %>'></li>
        <a href="/prehistoric_creatures/edit/<%= index %>">Edit Creature</a>
    <% }) %>
</ul>