<ul>
    <% creatureData.forEach((creature, index) => { %>
        <li>
            <%= creature.type %>
            <img src="<%= creature.img_url %>" alt="">
            <a href="/prehistoric_creatures/edit/<%= index %>">Edit creature</a>
            <form method="POST" action="./<%= index %>/?_method=DELETE">
                <input type="submit" value="Delete">
            </form>
        </li>
    <% }) %>
</ul>