<ul>
    <% creatureData.forEach((creature, index) => { %>
        <li>
            <%= creature.type %>
            <img src="<%= creature.img_url %>" alt="">
            <!-- NEED TO EDIT LINK -->
            <a href="/prehistoric_creatures/edit/<%= index %>">Edit creature</a>
        </li>
    <% }) %>
</ul>