<form action="POST" action='/prehistoric_creatures'>
<label for="preType">Type:</label>
<input id='preType' type="text" name='type' />
    
<label for="preName">Name:</label>
<input id='preName' type="text" name='name' />

<input type="submit" />
</form>