<form method="POST" action="/creatures">
    <label for="creatureType">Type:</label>
    <input id="creatureType" type="text" name="type" />
  
    <label for="creatureIMG">Image:</label>
    <input id="creatureIMG" type="text" name="img_url" />
  
    <input type="submit" />
  </form>