<form method="post" action="/prehistoric_creatures">
    <input class="text-field" id="creatureType" type="text" name="type" placeholder="type"/>
    <input class="text-field" id="creatureImg" type="text" name="img_url" placeholder="http://img_url"/>
    <div id="submit-box">
        <input class="submit-button" type="submit" value="CREATE!"/>
    </div>
</form>