<form class="newForm" action="/prehistoric_creatures" method="POST">

    <label for="creatureType">Creature Type</label>
    <input type="text" name="type">
    
    <label for="creatureImg">Creature Image URL</label>
    <input type="text" name="image">
    
    <button type="submit">Submit</button>
    
    </form>