<form action="POST" action='/prehistoric_creatures'>
<label for="preType">Type:</label>
<input id='preType' type="text" name='type' />
    
<label for="preUrl">Url:</label>
<input id='preUrl' type="text" name='img_url' />

<input type="submit" />
</form>