<h1>New Creature</h1>
<form method="post" action="/prehistoric_creatures/prehistoric_creatures">
    <input class="text-field" id="creatureType" type="text" name="type" placeholder="Type"/>
    <input class="text-field" id="creatureImg" type="text" name="img_url" placeholder="https://www.placecage.com/400/400"/>
    <div id="submit-box">
        <input class="submit-button" type="submit" value="CREATE!"/>
    </div>
</form>