<form method="POST" action="/prehistoric_creatures">
    <label for='creatureImage'>Image: </label>
    <input id='creatureImage' type='text' name='img_url'>
    <label for='creatureType'>Name:</label>
    <input id='creatureType' type='text' name='type'>
    <input type='submit'>
</form>