<form method="POST" action="/prehistoric_creatures">
    <label for="creatureType">Type:</label>
    <input id="creatureType" type="text" name="type" />
  
    <label for="creatureImg_Url">Image:</label>
    <input id="creatureImg_Url" type="text" name="img_url" />
  
    <input type="submit" />
  </form>