<form method="POST" action="/prehistoric_creatures">
    <label for="creatType">Type:</label>
    <input id="creatType" type="text" name="type" />
  
    <label for="creatImg_Url">Image:</label>
    <input id="creatImg_Url" type="text" name="img_url" />
  
    <input type="submit" />
  </form>