<h2>Create a new Prehistoric Creature</h2>
<form method="POST" action="/prehistoric_creatures">
  <label for="prehistoric_creatures_type">TYPE: </label>
  <input type="text" id="prehistoric_creatures_type" name="type" />
  <label for="prehistoric_creatures name">IMAGE URL: </label>
  <input id="prehistoric_creaturesName" name="img_url" />
  <input type="submit"></form>
</form>
