<form method="POST" action="/prehistoric_creatures">
    <label for="creatureType"></label>
    <input id="creatureType" type="text" name="type" />

    <label for="creatureImg">Image URL:</label>
    <input id="creatureImg" type="url" name="name" />

    <input type="submit" />
</form> 