
<ul>
    <% creatureData.forEach( (creature, index) => { %>
      <li>
        <h3><%= creature.type %></h3>
        <img width="400" src="<%= creature.img %>" />
        
        <a href="/creatures/edit/<%= index %>">Edit Creature</a>
        <form method="POST" action="/creatures/<%= index %>/?_method=DELETE">
          <input type="submit" value="Delete">
        </form>
      </li>
    <% }) %>
  </ul>