<ul>
    <%creatureData.forEach((creature, index)  => { %>
        <li> 
        <%= creature.type %>
        <br> <br>
        <img src="<%=creature.img_url%>" alt="" style="width:300px">
        <br>
        <a href="/prehistoric_creatures/edit/<%=index%>">Edit creature</a>
        
        
        <form action="/prehistoric_creatures/<%= index %>/?_method=DELETE" method="POST">
            
            <input type="submit" value="Delete"/>
        </form>
        <hr>
        </li>
    <% }) %>
</ul>