<form action="/creatures" method="POST">
    <label for="creatureName">Type:</label>
    <input type="text" id="creatureName" name="name" />
    
    <label for="creatureType">Type: </label>
    <input id="creatureType" type="text" name="type"/>


    <input type="submit" >



</form>