<form method="POST" action="/creatures">
    <label for="creatureType">Type:</label>
    <input id="creatureType" type="text" name="type" />
  
    <label for="creatureImg">Img Url:</label>
    <input id="creatureImg" type="text" name="img" />
  
    <input type="submit" />
  </form>