<form method="POST" action="/precrea">
    <label for="creature-type">Type:</label>
    <input id="creature-type" type="text" name="type" />
    
    <label for="creature-img">Image</label>
    <input id="creature-img" type="url" name="img_url" />

    <input type="submit">
</form>