<form method='POST' action="/creatures">
    <label for='creatureType'>Type:</label>
    <input id='creatureType' type='text' name='type' />

    <label for='creatureName'>Name</label>
    <input id='creatureName' type='text' name='name' />

    <input type ='submit' />

</form>