<form method="POST" action="/dinosaurs/<%= dinoId %>/?_method=PUT">
    <input class="text-field" type="text" value="<%= dino.name %>" name="name"/>
    <input class="text-field" type="text" value="<%= dino.type %>" name="type"/>
    <div id="submit-box">
        <input class="submit-button" type="submit" value="CHANGE!"/>
    </div>
</form>