<ul>
        <% dinoData.forEach((dino, index) => { %>
     <li>
        <%= dino.name %> is a <%= dino.type %>
        <a href='/dinosaurs/edit/<%= index %>'>Edit dino</a>

        <form action='/dinosaurs/<%= index %>/?_method=DELETE' method='POST'>
            <input type='submit' value="Delete Dino" />
        </form>
    </li>
    <% }) %>
</ul>