<ul class="posts">
    <% dinoData.forEach((dino, index) => { %>
        <li class="dataLi">
            <%= dino.name %> is a <%= dino.type %>
            <br />
            <a class="bodyLinks" href="/dinosaurs/edit/<%= index %>">Edit</a>
            <form method="POST" action="./<%= index %>/?_method=DELETE">
                <input type="submit" value="Delete" class="bodyLinks" />
            </form>
        </li>
    <% }) %>
</ul>