<ul>
    <% dinoData.forEach((dino, index) => { %>
        <li>
            <%= dino.name %> is a <%= dino.type %>.
            <div>
                <a id="edit-button" href="/dinosaurs/edit/<%= index %>">Edit</a>
                <form method="POST" action="/dinosaurs/<%= index %>/?_method=DELETE">
                    <input type="submit" value="Delete">
                </form>
            </div>
        </li>
    <% }) %> 
</ul>