<ul>
    <% dinoData.forEach((dino, index) => { %>
        <li>
            <%= dino.name %> is a <%= dino.type %>
            <a href="/dinosaurs/edit/<%= index %>">Edit Dino</a>
        </li>
    <% }) %>
</ul>