<ul>
    <% dinoData.forEach((dino, index) => { %>
        <li>
            <%= dino.name %> is a <%= dino.type %>.
                <a id="edit-button" href="/dinosaurs/edit/<%= index %>">EDIT</a>

                <form method="POST" action="/dinosaurs/<%= index %>/?_method=DELETE">
                    <div id="submit-box">
                        <input id="submit-button" type="submit" value="DELETE">
                    </div>
                </form>
        </li>
    <% }) %> 
</ul>