<form action="/dinosaurs" method="POST">
    <label for="dinoName">Name:</label>
    <input type="text" id="dinoName" name="name" />
    
    <label for="dinoType">Type: </label>
    <input id="dinoType" type="text" name="type"/>


    <input type="submit" >



</form>