<form method="POST" action="/dinosaurs">
    <label for="dinoType">Type:</label>
    <input id="dinoType" type="text" name="type" />
  
    <label for="dinoName">Name:</label>
    <input id="dinoName" type="text" name="name" />
  
    <input type="submit" />
  </form>