<form method="post" action="/dinosaurs/dinosaurs">
    <input class="text-field" id="dinoName" type="text" name="name" placeholder="name"/>
    <input class="text-field" id="dinoType" type="text" name="type" placeholder="type"/>
    <div id="submit-box">
        <input class="submit-button" type="submit" value="DINOFY!"/>
    </div>
</form>