<form method="POST" action="/dinosaurs/index">
    <label for="dinoName">Name: </label>
    <input id="dinoName" type="text" name="name" />
    
    <label for="dinoType">Type: </label>
    <input id="dinoType" type="text" name="type" />

    <input type="submit" class="bodyLinks" />
</form>