<form method="POST" action="/dinos/<%= dinoId %>/?_method=PUT">
  <label for="name">Name</label>
  <input type="text" value="<%= dino.name %>" name="name">

  <label>Type</label>
  <input type="text" value="<%= dino.type %>" name="type">

  <input type="submit">
</form>