
<form method="GET" action="/dinos">
  <label for="nameFilter">Filter by Name</label>
  <input id="nameFilter" type="text" name="nameFilter">
  <input type="submit">
</form>


<ul>
  <% dinoData.forEach((dino, index) => { %>
  <li><%= dino.name %> is a <%= dino.type %>
      <form method="POST" action="/dinos/<%= index %>/?_method=DELETE">
          <input type="submit" value="Delete">
      </form>
  </li>
  <% }); %>
</ul>