
<form method="GET" action="/dinos">
  <label for="nameFilter">Filter by Name</label>
  <input id="nameFilter" type="text" name="nameFilter">
  <input type="submit">
</form>



  <% dinoData.forEach((dino, index) => { %>
  <h3><%= dino.name %> is a <%= dino.type %><h3>
      <p>You can edit the dino <a href="/dinos/edit/<%= index %>"> here </a> </p>
      <form method="POST" action="/dinos/<%= index %>/?_method=DELETE">
        <input type="submit" value="Delete">
    </form>
  
  <% }) %>  