<form method="POST" action="/dinos">
  <label for="dinoType">Type:</label>
  <input class="me-4 mt-3" id="dinoType" type="text" name="type">

  <label for="'dinoName">Name:</label>
  <input class="me-2" id="dinoName" type="text" name="name">

  <input class="btn btn-dark" type="submit" value="submit">
</form>