  
<form method="POST" action="/prehistoric-creatures/<%= pcId %>/?_method=PUT">
    <label>Type: </label>
    <input type="text" value="<%= pc.type %>" name="type" />
  
    <label>Image URL: </label>
    <input type="text" value="<%= pc.img_url %>" name="img_url" />
  
    <input type="submit" />
  </form>