<form method="POST" action="/prehistoric-creatures/<%= creatureId %>/?_method=PUT">
  <label for="type">Type:</label>
  <input class="text-capitalize mt-4 me-2" type="text" value="<%= creature.type %>" name="type">


  <input type="submit">
</form>

