<ul>
    <% pcData.forEach ((pc, index) => { %>
      <li>
        <%= pc.type %> is <%= pc.img_url %>
        <!-- <a href="/prehistoric_creatures/edit/<%= index %>">Edit PC</a> -->
      </li>
    <% }) %>
  </ul>