<ul>
    <% pcData.forEach ((pc, index) => { %>
      <li>
        <%= pc.type %> is <%= pc.img_url %>
        <a href="/prehistoric-creatures/edit/<%= index %>">Edit Prehistoric Creature</a>
      </li>
    <% }) %>
  </ul>