<ul>
    <% pcData.forEach ((pc, index) => { %>
      <li>
        <%= pc.type %>   
        <img src=<%= pc.img_url %> style="width:300px">

        
        <a href="/prehistoric-creatures/edit/<%= index %>">Edit Prehistoric Creature</a>
      </li>
    <% }) %>
  </ul>