<form method="POST" action="/creatures">

  <label for="'creatureType">Type:</label>
  <input id="creatureType" type="text" name="type">
<!-- 
  <label for="creatureImg">Image:</label>
  <input id="creatureImg" type="image" name="img"> -->

  <input type="submit" value="submit">
</form>