<form method="POST" action="/prehistoric-creatures">
    <label for="pcType">Type:</label>
    <input id="pcType" type="text" name='type'/>
    
    <label for="pcImage">Image URL:</label>
    <input id="Image URL" type="text" name="img_url" />
    
    <input type="submit" />
    
</form>